.Weather {
    margin-top: 80px;
  }
  #city {
    font-size: 56px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .units {
    position: relative;
    font-size: 18px;
    top: -30px;
    font-weight: 600;
  }
  strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  